.dichthuat-formInput{
    padding: 10px ;
}
.dichthuat-formInput textarea{
    height: 100px;
    width: 100%;
}

.dichthuat-showError{
    color: crimson;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    outline: none;
    letter-spacing: 4px;
}
