.sb-nav-fixed{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.layoutContainer{
    position: sticky;
    top: 0;
    width: 110px;
    height: 100vh;
    margin-left: 5px;
    /* background-color: #212529;; */
  }
  
  
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  
  
  /* User table Begin */
  .UserContainer, .UserContainer-block{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  #table-container {
    padding-top: 60px;
  }
  
  .document-container{
    display: flex;
    flex-direction: column;
  }
  .document-container a{
    color: black;
    padding: 5px;
  }

  .document-container a:hover{
    color: blue;
    text-decoration: underline;
  }
 

  